VITE_APP_NAME=mvp

VITE_APP_FRONTEND_ADMIN_BASENAME=/frontend-admin
VITE_APP_FRONTEND_PUBLIC_BASENAME=/frontend-public

VITE_USE_HTTPS=true
VITE_HMR=ora-uncheckable-ameer.ngrok-free.dev

VITE_APP_IMAGE_PRODUCTS_URL=https://ora-uncheckable-ameer.ngrok-free.dev/backend-api-pt-gap/v1/storage/
VITE_APP_IMAGE_USER_URL=https://ora-uncheckable-ameer.ngrok-free.dev/backend-api-pt-gap/v1/storage/

VITE_APP_BACKEND_API_URL=https://ora-uncheckable-ameer.ngrok-free.dev/backend-api-pt-gap/v1
VITE_APP_FRONTEND_PUBLIC_URL=https://ora-uncheckable-ameer.ngrok-free.dev/frontend-public
VITE_APP_FRONTEND_ADMIN_URL=https://ora-uncheckable-ameer.ngrok-free.dev/frontend-admin

VITE_APP_URL_PROFILE=https://www.notion.so/Ilham-Rahmat-Akbar-23bc2b461c0f806e876ae028290fc1ff
VITE_LINK_GITHUB=https://github.com/ilhamrhmtkbr
VITE_LINK_EMAIL=https://mail.google.com/mail/?view=cm&fs=1&to=ilhamrhmtkbr@gmail.com
VITE_LINK_INSTAGRAM=https://www.instagram.com/ilhamrhmtkbr
VITE_LINK_WHATSAPP=https://wa.me/081272369357?text=Test

VITE_GOOGLE_CLIENT_ID=google-client